@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    margin: 0px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}

.dark {
    background: #333333;
    color: rgb(223, 223, 223);
}

.light {
    background: #fcfaf9;
    color: rgb(50, 50, 50);
}

.dark i {
    color: rgb(223, 223, 223);
}

.light i {
    color: rgb(50, 50, 50);
}

.rightbar {
    position: absolute;
    right: 0px;
    top: 40px;
    width: 300px;
    height: calc(100vh - 40px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    box-sizing: border-box;
}

.dark .rightbar {
    background: rgb(20, 20, 20);
}

.light .rightbar {
    background: rgb(240, 240, 240);
}

.leftbar {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 200px;
    height: calc(100vh - 40px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.dark .leftbar {
    background: rgb(20, 20, 20);
}

.light .leftbar {
    background: rgb(240, 240, 240);
}

.topbar {
    width: 100vw;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1000;
    backdrop-filter: blur(1000px);
}

.topbar * {
    z-index: 2000 !important;
}

.content {
    position: absolute;
    top: 40px;
    left: 0px;
    width: calc(100vw);
    height: calc(100vh - 40px);
}

.avatar .content {
    left: 200px !important;
    width: calc(100vw - 200px) !important;
}

.hero .content {
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin: 0px;
}

.section-title {
    width: 100%;
    height: 35px;
    display: flex;
    padding-left: 8px;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
    border-radius: .5rem;
}

.light .section-title {
    background: rgb(223, 223, 223);
}

.dark .section-title {
    background: rgb(50, 50, 50);
}

.section-content {
    width: 100%;
    padding: 5px;
    border-radius: .5rem;
    box-sizing: border-box;
}

.section-content *:first-child {
    border-top-left-radius:  .5rem;
    border-top-right-radius:  .5rem;
}

.section-content *:last-child {
    border-bottom-left-radius:  .5rem;
    border-bottom-right-radius:  .5rem;
}

.light .section-content {
    background: rgb(223, 223, 223);
}

.dark .section-content {
    background: rgb(50, 50, 50);
}

.object {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
    margin-bottom: 1px;
    cursor: pointer;
    user-select: none;
    transition: background .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.light .object {
    background: rgb(240, 240, 240);
}

.dark .object {
    background: rgb(50, 50, 50);
}

.light .object:hover {
    background: rgb(223, 223, 223);
}

.dark .object:hover {
    background: rgb(40, 40, 40);
}

.property {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
    margin-bottom: 1px;
    user-select: none;
}

.light .property {
    background: rgb(240, 240, 240);
}

.dark .property {
    background: rgb(50, 50, 50);
}

.section-bottom {
    position: fixed;
    bottom: 30px;
    right: 5px;
    bottom: 5px;
    width: calc(300px - 10px);
}

.property-value {
    position: absolute;
    right: 13px;
}

.with-tooltip {
    display: inline-block;
}

.with-tooltip .tooltip {
    backdrop-filter: blur(10px);
    width: 100px;
    text-align: center;
    padding: 5px;


    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    transform: translate(-100%, -30%);

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity .2s .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    border-radius: .5rem !important;
}

.with-tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.light .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(223, 223, 223);
    -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* The slider */
.dark .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(223, 223, 223);
    -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.light .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(50, 50, 50);
    -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.light input:checked+.slider {
    background-color: #2196F3;
}

.light input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.dark input:checked+.slider {
    background-color: #53aaf1;
}

.dark input:focus+.slider {
    box-shadow: 0 0 1px #53aaf1;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.topbar-button {
    height: 100% !important;
    width: fit-content !important;
    background: transparent !important;
    border: none !important;
    cursor: pointer !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    user-select: none !important;
    display: inline;
    margin: 0px !important;
    border-radius: 0 !important;
    font-size: .9pc !important;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    box-shadow: none !important;
    z-index: 3000 !important;
}

.topbar-button-horizontal {
    height: fit-content !important;
    padding: 10px !important;
    width: 100% !important;
    text-align: left !important;
    font-size: 1pc !important;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: none !important;
}

.light .topbar-button:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

.dark .topbar-button:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.light .topbar-button {
    color: rgb(50, 50, 50);
}

.dark .topbar-button {
    color: rgb(223, 223, 223);
}

.toolbar {
    height: 40px;
    position: absolute;
    top: 40px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: .5rem;
}

.light .toolbar {
    background: rgba(0, 0, 0, 0.2);
}

.dark .toolbar {
    background: rgba(255, 255, 255, 0.2);
}

.toolbar * {
    width: 40px;
    height: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toolbar *:hover {
    background: rgba(0, 0, 0, 0.1);
}

.toolbar * i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    z-index: 1;
}

.login::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-image: url(./assets/hero/62279d6b214710af53a337f3_img-bg-gradient.png);
    background-size: cover;
    opacity: 1;
}

.login * {
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
input[type=password] {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    border-radius: 0rem;
    margin-bottom: 1px;
    margin-top: 2px;
}

.light input[type=text],
input[type=email],
input[type=password] {
    box-shadow: inset 0 -1px 1px 0 rgb(27 31 35 / 5%), inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 2px 0 rgb(27 31 35 / 5%);
}

.dark input[type=text],
input[type=email],
input[type=password] {
    box-shadow: inset 0 -1px 1px 0 rgb(27 31 35 / 5%), inset 0 1px 1px 0 hsla(0, 0%, 0%, 0.15), 0 1px 2px 0 rgb(27 31 35 / 5%);
}


.light input {
    background: white;
}

.dark input {
    background: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
}

button {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 1px;
    cursor: pointer;
    user-select: none;
    transition: background .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1pc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.light button {
    box-shadow: inset 0 -1px 1px 0 rgb(27 31 35 / 5%), inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 2px 0 rgb(27 31 35 / 5%);
}

.dark button {
    box-shadow: inset 0 -1px 1px 0 rgb(27 31 35 / 5%), inset 0 1px 1px 0 hsla(0, 0%, 0%, 0.15), 0 1px 2px 0 rgb(27 31 35 / 5%);
}

.topbar button {
    box-shadow: none !important;
}

button.big {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 1px;
    cursor: pointer;
    user-select: none;
    transition: background .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
    margin-bottom: 1px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1pc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.light button.big {
    box-shadow: inset 0 -1px 1px 0 rgb(27 31 35 / 5%), inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 2px 0 rgb(27 31 35 / 5%);
}

.dark button.big {
    box-shadow: inset 0 -1px 1px 0 rgb(27 31 35 / 5%), inset 0 1px 1px 0 hsla(0, 0%, 0%, 0.15), 0 1px 2px 0 rgb(27 31 35 / 5%);
}

.light button {
    background: white;
}

.dark button {
    background: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
}

.light button:hover {
    background: rgb(223, 223, 223);
}

.dark button:hover {
    background: rgb(40, 40, 40);
}

.right button {
    width: 70px;
}

.right {
    margin-right: 0px;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    border-radius: 0rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: fit-content;
    float: left;
    border-radius: .5rem;
}

.login .card {
    width: 350px !important;
}

.light .card {
    background: rgb(240, 240, 240);
}

.dark .card {
    background: rgb(30, 30, 30);
}

label {
    user-select: none;
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
    margin-bottom: 10px;
}

.user-select-none {
    user-select: none;
}

a {
    text-decoration: none;
    user-select: none;
}

.light a {
    color: #e63946;
}

.dark a {
    color: #e63946;
}

form .other-options {
    width: 100%;
    display: flex;
    margin-top: 19px;
    position: relative;
    height: 1pc;
    font-size: .8pc;
}

form .other-options {
    text-decoration: none;
}

form .other-options *:first-child {
    position: absolute;
    left: 10px;
}

form .other-options *:last-child {
    position: absolute;
    right: 10px;
}

label.switch {
    margin: 0px;
}

.invisible {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 55px;
}

.light .logo {
    background-image: url(assets/branding/LogoWithTextBlack.svg);
}

.dark .logo {
    background-image: url(assets/branding/LogoWithTextWhite.svg);
}

.login-logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 335px;
    height: 100px;
}

.light .login-logo {
    background-image: url(assets/branding/LogoWithTextBlack.svg);
}

.dark .login-logo {
    background-image: url(assets/branding/LogoWithTextWhite.svg);
}

.logo-topbar {
    position: relative;
    float: left;
    top: 5px;
    left: 5px;
    width: 30px;
    height: calc(100% - 10px);
    margin-right: 10px;
    background-size: contain;
}

.light .logo-topbar {
    background-image: url(assets/branding/LogoBlack.svg) !important;
}

.dark .logo-topbar {
    background-image: url(assets/branding/LogoWhite.svg) !important;
}

.topbar input {
    position: relative;
    top: -1px;
    margin: 0px;
}

.topbar-icon {
    position: relative;
    float: left;
    top: 5px;
    left: 5px;
    width: 30px;
    height: calc(100% - 10px);
    background-size: contain;
    border: none;
    background: none !important;
    font-size: 1.3pc;
    margin-left: 10px !important;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
    padding: 0px !important;
}

.topbar-icon:hover {
    opacity: .5;
}

.topbar-right {
    position: absolute;
    right: 0px;
    height: 40px;
}

.topbar-search {
    margin: 0;
    width: 300px;
    border-radius: 0rem !important;
    padding-left: 30px !important;
}

.light .topbar-search:focus~.search-container i {
    color: rgb(20, 20, 20) !important;
}

.dark .topbar-search:focus~.search-container i {
    color: rgb(240, 240, 240) !important;
}

.topbar-search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    /* Firefox */
    font-weight: 400;
}

input,
button {
    font-family: 'Satoshi', sans-serif !important;
    font-weight: 400;
    border-radius: .25rem !important;
}

h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -1.44px;
}

.search-container {
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translate(-50%, 0%);
    margin: 0;
}

.search-container input {
    height: calc(40px - 2px);
    box-sizing: border-box;
}

.search-container i {
    position: absolute;
    left: 11px;
    top: 12px;
    color: gray !important;
    font-weight: 600;
}

body.home {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body.home::before {
    content: '';
    background: url(./assets/hero/62279d6b214710af53a337f3_img-bg-gradient.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
}

.home .content {
    position: absolute;
    top: 40px;
    left: 100px;
    width: calc(100vw - 200px) !important;
    height: calc(100vh - 40px);
    box-sizing: border-box;
    margin: 0px;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.profile-picture {
    border-radius: 100%;
    width: 1.2pc;
    height: 1.2pc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.light .profile-picture {
    background: white;
}

.dark .profile-picture {
    background: rgb(30, 30, 30);
}

.profile-name {
    width: fit-content;
    font-size: .8pc;
}

.light .profile-name {
    color: rgb(20, 20, 20);
}

.dark .profile-name {
    color: rgb(223, 223, 223);
}

.home .content {
    box-sizing: border-box;
    display: inline;
}

.friends .card {
    width: 140px;
    height: 190px;
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.games .card {
    width: 180px;
    height: 140px;
    margin: 4px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.friends .friend-image {
    top: 0px;
    width: 100%;
    height: 70%;
    background-image: url(assets/home/IMG_1492.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.games .game-image {
    top: 0px;
    width: 100%;
    height: 80%;
    background-image: url(assets/home/shrekinthebackrooms.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.games .card:hover {
    transform: translate(0%, -10%);
}

.games .card {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.friend-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    box-sizing: border-box;
    padding: 5px;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    margin: 0px;
    font-size: .8pc;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.game-info * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.friend-actions {
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.friend-actions * {
    margin-left: 3px;
    margin-right: 3px;
    font-size: .8pc;
}

.friend-actions *:hover {
    opacity: .8;
}

.light .bg-primary {
    background: #e63946;
    color: rgb(240, 240, 240);
}

.dark .bg-primary {
    background: #e63946;
    color: rgb(240, 240, 240);
}

button.bg-primary:hover {
    background: #cc3440 !important;
}

.friend {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    margin-right: 10px;
    float: left;
    user-select: none;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
    position: relative;
}

.light .friend:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dark .friend:hover {
    background: rgba(255, 255, 255, 0.1);
}

.chip {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    margin: 0px;
    border-radius: 1rem;
    line-height: 10px;
}

#avatar-canvas {
    width: 800px;
    height: 600px;
    background: white;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.avatar .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-profile {
    width: 300px;
    height: 300px;
    background-image: url(./assets/avatar/profile.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -400px;
    margin-bottom: -250px;
}

.hero .content header {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    margin-top: -41px;
    padding: 0px;
    background-image: url(./assets/hero/62279d6b214710af53a337f3_img-bg-gradient.png);
    background-size: cover;
    box-sizing: border-box;
    padding-top: 80px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 4px #ffffff50,
        0 0 10px #ffffff75,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    -webkit-animation: flickerAnimation 10s infinite step-end;
    -moz-animation: flickerAnimation 10s infinite step-end;
    -o-animation: flickerAnimation 10s infinite step-end;
    animation: flickerAnimation 10s infinite step-end;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.5;
    }

    10.5% {
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    30.5% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }

    40.5% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    50.5% {
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    70.5% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    80.5% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    90.5% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.5;
    }

    10.5% {
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    30.5% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }

    40.5% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    50.5% {
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    70.5% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    80.5% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    90.5% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.5;
    }

    10.5% {
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    30.5% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }

    40.5% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    50.5% {
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    70.5% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    80.5% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    90.5% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.5;
    }

    10.5% {
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    30.5% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }

    40.5% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    50.5% {
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    70.5% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    80.5% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    90.5% {
        opacity: 1;
    }
}

.button-neon {
    position: relative;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) .2s;
}

.button-neon::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-neon:hover::before {
    box-shadow: 0 5px 121px #0fa !important;
}

.text-smaller {
    font-size: .5pc;
}

.text-small {
    font-size: .75pc;
}

.text-medium {
    font-size: 1pc;
}

.text-big {
    font-size: 2pc;
}

.text-bigger {
    font-size: 3pc;
}

.text-large {
    font-size: 4pc;
}

.content-section {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
}

.welcome-section {
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.dark .welcome-section {
    background: rgb(60, 60, 60);
}

.light .welcome-section {
    background: linear-gradient(rgb(240, 240, 240), rgb(230, 230, 230));
}

.welcome-pfp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;
    mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    /* this fixes the overflow:hidden in Chrome/Opera */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .welcome-pfp {
    background: rgb(50, 50, 50);
}

.light .welcome-pfp {
    background: rgb(255, 255, 255);
}

.welcome-pfp * {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.welcome-content {
    margin-left: 20px;
}

.buttons {
    display: flex;
}

.button-group-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.button-group-left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.discover-section {
    box-shadow: none;
    border: none;
}

.card:has(.card-notification) {
    position: relative;
    overflow: visible;
}

.card-notification {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: #e63946;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 100000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-notification::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(./assets/home/profile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.dark::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: .5rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

/* Handle on hover */
.dark::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Handle */
.light::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: .5rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

/* Handle on hover */
.light::-webkit-scrollbar-thumb:hover {
    background: rgb(211, 211, 211)
}

.small-horizontal-topbar {
    width: 41px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.topbar-icon {
    font-size: 1pc;
}

.small-horizontal-topbar .topbar-button {
    width: 41px;
    height: 41px !important;
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-horizontal-topbar .topbar-icon {
    width: 41px;
    height: 41px !important;
    top: 0px;
    left: 0px;
}

.small-horizontal-topbar .profile-picture {
    margin-left: 0px;
}

.topbar-bottom {
    position: absolute;
    top: calc(100vh - 200% - 5px);
}

.game-home {
    overflow: hidden;
}

.game-home .content .game-image {
    width: calc(100vw - 41px);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: url(./assets/home/shrekinthebackrooms.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(100px);
    z-index: 0 !important;
    position: absolute;
    left: 0px;
    top: 0px;
}

.game-home .content {
    top: 0px !important;
    left: 41px;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-home .content * {
    z-index: 1000;
    position: relative;
    user-select: none;
}

.play-button {
    width: 35px;
    height: 35px;
    position: absolute !important;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0%);
}

.loading-screen {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) .5s opacity;
    z-index: -1000;
}

.loading .loading-screen {
    opacity: 1;
    z-index: 99999;
}

.light .loading-screen {
    background: #e2e2e2;
}

.dark .loading-screen {
    background: #333333
}

.game-description {
    width: calc(100% - 40px);
    height: fit-content;
}

.glass {
    background: transparent !important;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
}

.glass::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.light .glass::before {
    background: rgba(255, 255, 255, 0.3);
}

.dark .glass::before {
    background: rgba(0, 0, 0, 0.3);
}

.header {
    text-align: left;
    justify-content: left;
}

.header h1 {
    text-align: left;
}

.interact-a {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.interact-a:hover {
    opacity: .5
}

.slideshow-images * {
    position: absolute !important;
    left: 0px;
    top: 50%;
    width: 100%;
    transform: translate(0%, -25%);
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.slideshow-buttons {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.slideshow-left-button {
    position: absolute !important;
    left: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-right-button {
    position: absolute !important;
    right: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}